## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
s = pd.Series([4, 8, 15, 16, 23, 42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(l)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame.

In [4]:
import pandas as pd

data = {'Name': ['Heramb', 'Varsha', 'Chetan'],
        'Age': [3, 27, 37],
        'Gender': ['Male', 'Female', 'Male']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0  Heramb    3    Male
1  Varsha   27  Female
2  Chetan   37    Male

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. It is a primary object in Pandas and is used to represent and manipulate data with rows and columns.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame or a single vector in R.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [6]:
data = {'Name': ['Heramb', 'Varsha', 'Chetan'],
        'Age': [3, 27, 37],
        'Gender': ['Male', 'Female', 'Male']}

df = pd.DataFrame(data)
ages = df['Age']

print("DataFrame:")
print(df)
print()
print("Series:")
print(ages)

DataFrame:
     Name  Age  Gender
0  Heramb    3    Male
1  Varsha   27  Female
2  Chetan   37    Male

Series:
0     3
1    27
2    37
Name: Age, dtype: int64

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides many functions to manipulate data in a DataFrame. Here are some common functions that can be used to manipulate data:

1. head() and tail(): These functions are used to view the first or last n rows of a DataFrame respectively. They are useful to quickly inspect the structure and contents of a DataFrame.

In [7]:
data = {'Name': ['Heramb', 'Varsha', 'Chetan'],
        'Age': [3, 27, 37],
        'Gender': ['Male', 'Female', 'Male']}
df = pd.DataFrame(data)

print(df.head())

     Name  Age  Gender
0  Heramb    3    Male
1  Varsha   27  Female
2  Chetan   37    Male

2. describe(): This function is used to compute summary statistics of a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It is useful to quickly get a sense of the distribution and range of values in a DataFrame.

In [8]:
print(df.describe())

             Age
count   3.000000
mean   22.333333
std    17.473790
min     3.000000
25%    15.000000
50%    27.000000
75%    32.000000
max    37.000000

3. groupby(): This function is used to group rows in a DataFrame based on one or more columns, and apply an aggregation function, such as mean, sum, count, or custom functions, to each group. It is useful to analyze the relationship between different variables in a dataset.

In [9]:
group = df.groupby('Gender')['Age'].mean()
print(group)

Gender
Female    27.0
Male      20.0
Name: Age, dtype: float64

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, DATA MUTABILITY refers to the ability to change the values within a data structure, while SIZE MUTABILITY refers to the ability to change the size or shape of the data structure itself.

All three, that is Series, DataFrame and Panel are DATA MUTABLE, meaning that you can change the values within them, but only DataFrame and Panel are SIZE MUTABLE, meaning that you can change their shape or size.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a Pandas DataFrame using multiple Series by passing a dictionary of Series objects to the DataFrame constructor. Each Series represents a column in the resulting DataFrame, and the index of each Series is used to align the data. Here's an example:

In [14]:
names = pd.Series(['Heramb', 'Varsha', 'Chetan'])
ages = pd.Series([3, 27, 37])
genders = pd.Series(['Male', 'Female' ,'Male'])

# combine the Series objects into a dictionary
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)
data = {'Name': names, 'Age': ages, 'Gender': genders}

     Name  Age  Gender
0  Heramb    3    Male
1  Varsha   27  Female
2  Chetan   37    Male